#top {
  background-color: #ffffff;
  border-bottom: 1px solid #e1e6ef;
  display: flex;
  justify-content: space-between;
}

#top_logo {
  display: flex;
  align-items: center;
}

#top_vector {
  width: 51.507938385009766px;
  height: 52.91844177246094px;
  padding-right: 8px;
}

#top_weathergrid {
  width: 92.8px;
  height: 15.6px;
}

#top_menu {
  display: flex;
  align-items: flex-start;
  gap: 26px;
}

#menu_items {
  display: flex;
  height: 40px;
  padding: 10px 8px 10px 16px;
  align-items: flex-start;
  gap: 8px;
}

#main {
  display: flex;
}

#main_locations_field_search {
  display: flex;
}

#main_locations_field_search_paragraph {
  display: flex;
  align-items: flex-start;
  flex: 1 0 0;
}
